.admin-container {
    width: 99%;
    height: 800px;
    margin: 10px;
    border: 1px solid #555;
    background-color: rgb(231, 183, 183);

  } .slidebar{
    background-color: rgb(61, 57, 57);
    width: 150px;
}