<mat-card class="example-card">
    <mat-card-header (click)="openUpdateCardModal(cardData)">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf="">{{cardData.name}}</mat-card-title>
      <mat-card-subtitle>{{cardData.title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{cardData.phone}}</li>
            <li class="list-group-item" *ngIf="cardData.email;else NoEmail">{{cardData.email}}</li>
            <li class="list-group-item">
              <span *ngIf="cardData.address">{{cardData.address}}</span>
                 <small *ngIf="!cardData.address">adres girilmemiş</small></li>
          </ul>
          <ng-template #NoEmail>
            <small class="nocontent"> e posta adresi girilmemiş</small>
          </ng-template>
    </mat-card-content>
 
  </mat-card>